USE [master]
GO
/****** Object:  Database [testDB]    Script Date: 2/16/2019 5:36:27 PM ******/
CREATE DATABASE [testDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testDB', FILENAME = N'C:\Users\bramerpayton\Downloads\MSSQL14.MSSQLSERVER\MSSQL\DATA\testDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testDB_log', FILENAME = N'C:\Users\bramerpayton\Downloads\MSSQL14.MSSQLSERVER\MSSQL\DATA\testDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2/16/2019 5:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptNumber] [smallint] NOT NULL,
	[Name] [varchar](50) NULL,
	[LocationCode] [int] NULL,
	[ManagerNumber] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DeptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/16/2019 5:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Number] [int] NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[Address] [varchar](50) NULL,
	[Zipcode] [varchar](12) NULL,
	[DeptNumber] [smallint] NULL,
	[JobCode] [int] NULL,
	[Birthday] [date] NULL,
	[HireDate] [date] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_DeptNumber] FOREIGN KEY([DeptNumber])
REFERENCES [dbo].[Departments] ([DeptNumber])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_DeptNumber]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_JobCode] CHECK  (([JobCode]>=(1) AND [JobCode]<=(10)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_JobCode]
GO
USE [master]
GO
